<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog.am</title>

    <!-- Styles -->
    <link href="css/app.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    
    
</head>
<body>
    <div id="app" ng-app="blogApp">
        <nav class="navbar  navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" ui-sref="home">
                        Blog
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right" ng-controller="loginController">
                        <!-- Authentication Links -->
                       
                            <li ng-hide="loggedIn"><a  ui-sref="login">Login</a></li>
                            <li ng-hide="loggedIn"> <a ui-sref="register">Register</a></li>
                        
                            <li class="dropdown" ng-show="loggedIn">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#/addPost">
                                           Add Post
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/home">
                                           Add Category
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="logout()">
       
                                        Logout
                                    </a>

                                        
                                            
                                    </li>
                                        

                                </ul>
                            </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <ui-view></ui-view>

       
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/blogApp.js"></script>
    <script type="text/javascript" src="js/routes.js"></script>
    <script src='controllers/loginController.js' type="text/javascript"></script>
    <script src='controllers/homeController.js' type="text/javascript"></script>
    <script type="text/javascript" src ='controllers/registerController.js'></script>
    <script type="text/javascript" src ='controllers/postController.js'></script>
    
    <script src="js/ng-file-upload/dist/ng-file-upload.min.js"></script>

</body>
</html>
