	<div class="container">
    <div class="col-md-12">
        <div class = "pull-left col-md-4">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                        <h2>Category</h2>
                        <a href="#addPost">
                                           Add Post
                                        </a> 
                    </div>
                   	<div class="panel-body" ng-repeat="cat in categ">
                        <div ng-if="cat.categories_id != selected.id">
                            <a  href="#category/{{cat.id}}">{{cat.title}}</a>
                            <p>{{cat.description}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class = "pull-right col-md-8">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> 
                       <h2>{{selected.title}}</h2>
                    </div>
                    <div class = 'panel-body'>
                            <div class="postInfo">
                                <div  ng-repeat="post in posts">
                                <div class="postInfo">
                                        <a  href="#posts/{{post.id}}">
                                            <div class='userPost'>
                                                <img ng-src="/avatar/{{post.avatar}}" style="width: 200px; height: 150px">
                                                <h4>{{post.title}}</h3>
                                                <span>{{post.description}}</span>
                                            </div>
                                        </a>
                                    </div>
                                   
                                </div>
                            </div>
                     </div>
                </div>
            </div>

        </div>
    </div>
</div>