<div class="container">
    <div class="col-md-12">
        <div class = "pull-left col-md-6">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> {{user}}</div>
                    <div class="panel-body">
                        <div class='pull-left col-md-6'>
                            <img ng-if="data.avatar != ''" ng-src="/avatar/{{data.avatar}} " style="width: 200px; height: 150px">
                            <img ng-if="data.avatar == ''" ng-src="/avatar/photo.jpg " style="width: 200px; height: 150px">
                        </div>
                        <div class='pull-right col-md-6'>
                            <p>{{ data.username}}</p>
                            <p>{{ data.firstname}}</p>
                            <p>{{ data.lastname}}</p>
                            <p>{{ data.email}}</p>
                            <p>{{ data.birthday}}</p>
                            <p>{{ data.phone_number}}</p>
                        </div>
                    </div>
                     <div class="panel-body">
                        <div class="panel-heading">Add Category</div>
                        
                        <form class="form-horizontal">
                        
                            <div class="form-group">
                            <label for="title" class="col-md-4 control-label">Title</label>
                            <div class="col-md-6">
                                <input id="title" type="text" class="form-control" ng-model="inputs.title" value="" required autofocus>
                                 <span class="help-block" ng-if="errors.title">
                                    <strong>{{errors.title[0]}}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-md-4 control-label">Description</label>

                            <div class="col-md-6">
                                <input id="description" type="text" class="form-control" ng-model="inputs.description" value="" required  autofocus>
                                <span class="help-block" ng-if="errors.description">
                                    <strong>{{errors.description[0]}}</strong>
                                </span> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-click="addCat(inputs)">
                                    Add
                                </button>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
        <div class = "pull-right col-md-6">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> Category</div>
                    <div class = 'panel-body' ng-repeat="cat in categ">
                        <a ui-sref="category({id : cat.id})" href="#category/{{cat.id}}">{{cat.title}}</a>
                        <p>{{cat.description}}</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
