<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                <ul ng-if="messages" class="alert alert-danger">
                    <li ng-if="messages.email[0]">{{messages.email[0]}}</li>
                    <li ng-if="messages[0]">{{messages[0]}}</li>
                    
                </ul>
                    <form class="form-horizontal" role="form" method="POST" action="">
                        
                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" ng-model="inputs.email" value="" required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>
                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" ng-model="inputs.password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="inputs.remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="button" class="btn btn-primary" ng-click="submit(inputs)">
                                    Login
                                </button>

                                <a class="btn btn-link" href="/password/reset">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>