<div class="container">
    <div class="col-md-12">
        <div class = "pull-left col-md-12">
            <div class="col-md-8">
                <div class="panel panel-default center">
                    <div class="panel-heading"> {{ post.title}}</div>
                    <div class="panel-body">
                        <div class='pull-left col-md-6'>
                            <img ng-src="/avatar/{{post.avatar}}" style="width: 200px; height: 150px">
                                <div class='userEdit' ng-if="id == post.user_id">
                                    <button name="{{post.id}}" ng-click="delete(post.id)">Delete</button>
                                    <a ui-sref="postEdit({id:post.id})">
                                         <button >Edite</button>      
                                    </a>
	                            </div>
                           
                         </div>
                        <div class='pull-right col-md-6'>
                            <p>{{ post.description}}</p>
                            <p>{{ post.publish_date}}</p>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>