<div class="container">
    <div class="col-md-12">
        <div class = "pull-left col-md-12">
            <div class="col-md-12">
                <div class="panel panel-default center">
                    
                    <div class="panel-body">
                        
                         <div class='pull-left col-md-12'>
                            <form class='form-horizontal'>
                                <div class="form-group">
                                    <label for="title" class="col-md-4 control-label">Title</label>

                                    <div class="col-md-6">
                                        <input id="title" type="text" class="form-control" ng-model="title"  required autofocus>

                                       <!--  @if ($errors->has('title'))
                                            <span class="help-block">
                                                <strong>{{ $errors->first('title') }}</strong>
                                            </span>
                                        @endif -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-md-4 control-label">Description</label>

                                    <div class="col-md-6">
                                        <input id="description" type="text" class="form-control" ng-model="description"  required autofocus>

                                        <!-- @if ($errors->has('description'))
                                            <span class="help-block">
                                                <strong>{{ $errors->first('description') }}</strong>
                                            </span>
                                        @endif -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category" class="col-md-4 control-label">Category</label>

                                    <div class="col-md-6">
                                        <select class="form-control" ng-model='categories_id'  >
                                         <option ng-repeat="cat in categ" value="{{cat.id}}" ng-selected="categories_id">{{cat.title}}</option>
                                        </select>
                                        <!-- @if ($errors->has('category'))
                                            <span class="help-block">
                                                <strong>{{ $errors->first('category') }}</strong>
                                            </span>
                                        @endif -->
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="avatar" class="col-md-4 control-label">Avatar</label>

                                    <div class="col-md-6" ng-init="avatar = true">
                                        <input type="file" ngf-select ng-model="avatar" name="file"    
                                            accept="image/*" ngf-max-size="2MB"
                                            ngf-model-invalid="errorFile">
                                            <i ng-show="myForm.file.$error.maxSize">File too large 
                                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>

                                       <!--  @if ($errors->has('avatar'))
                                            <span class="help-block">
                                                <strong>{{ $errors->first('avatar') }}</strong>
                                            </span>
                                        @endif -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        
                                        <button ng-click="uploadPic(avatar)" class="btn btn-primary" type="submit">Add Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>