<div class="container">
    <div class="col-md-12">
        <div class = "pull-left col-md-12">
            <div class="col-md-12">
                <div class="panel panel-default center">
                    <div class="panel-heading"> {{ post.title}}</div>
                    <div class="panel-body">
                        <div class='pull-left col-md-4'>
                            <img src="/avatar/{{ post.avatar }} " style="width: 200px; height: 150px">
                         </div>
                         <div class='pull-left col-md-8'>
                            <form class='form-horizontal'>
                                <div class="form-group">
                                    <label for="title" class="col-md-4 control-label">Title</label>

                                    <div class="col-md-6">
                                        <input id="title" type="text" class="form-control" ng-model="post.title"  required autofocus>

                                      
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-md-4 control-label">Description</label>

                                    <div class="col-md-6">
                                        <input id="description" type="text" class="form-control" ng-model="post.description"  required autofocus>

                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category" class="col-md-4 control-label">Category</label>

                                    <div class="col-md-6">
                                        <select class="form-control" ng-model='post.categories_id' ng-if="post.categories_id" >
                                         <option ng-repeat="cat in categ" value="{{cat.id}}" ng-selected='cat.id = post.categories_id' >{{cat.title}}</option>
                                        </select>
                                        
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="avatar" class="col-md-4 control-label">Avatar</label>

                                    <div class="col-md-6" ng-init="avatar = true">
                                        <input type="file" ngf-select ng-model="avatar" name="file"    
                                            accept="image/*" ngf-max-size="2MB"
                                            ngf-model-invalid="errorFile">
                                            <i ng-show="myForm.file.$error.maxSize">File too large 
                                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>

                                      
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        
                                        <button ng-click="uploadPic(avatar)" class="btn btn-primary" type="submit">Edit Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>