<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" >
                        

                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">Username</label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" ng-model="username" value="" required autofocus>
                                    <span class="help-block" ng-if="errors.username">
                                        <strong>{{ errors.username[0]}}</strong>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-md-4 control-label">Firstname</label>

                            <div class="col-md-6">
                                <input id="firstname" type="text" class="form-control" ng-model="firstname" value=""  autofocus>
                            </div>
                            <span class="help-block" ng-if="errors.firstname">
                                <strong>{{ errors.firstname[0]}}</strong>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-4 control-label">lastname</label>

                            <div class="col-md-6">
                                <input id="lastname" type="text" class="form-control" ng-model="lastname" value=""  autofocus>
                            <span class="help-block" ng-if="errors.lastname">
                                <strong>{{ errors.lastname[0]}}</strong>
                            </span>    
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" ng-model="email"  required>
                            </div>
                            <span class="help-block" ng-if="errors.email">
                                <strong>{{ errors.email[0]}}</strong>
                            </span> 

                        </div>
                        
                        
                        <div class="form-group">
                            <label for="phone_number" class="col-md-4 control-label">Phone number</label>

                            <div class="col-md-6">
                                <input id="phone_number" type="text" class="form-control" ng-model="phone_number" value=""  autofocus>
                                <span class="help-block" ng-if="errors.phone_number">
                                    <strong>{{ errors.phone_number[0]}}</strong>
                                </span> 
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="avatar" class="col-md-4 control-label">Avatar</label>

                            <div class="col-md-6">
                                <input type="file" ngf-select ng-model="avatar" name="file"    
                                accept="image/*" ngf-max-size="2MB"
                                ngf-model-invalid="errorFile">
                                <i ng-show="myForm.file.$error.maxSize">File too large 
                                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                            </div>
                            <span class="help-block" ng-if="errors.avatar[0]">
                                <strong>{{ errors.avatar[0]}}</strong>
                            </span>
                        </div>
                       

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" ng-model="password" required>
                                <span class="help-block" ng-if="errors.password">
                                    <strong>{{ errors.password[0]}}</strong>
                                </span>
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" ng-model="password_confirmation" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-click="submit(avatar)">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>